.landing-page {
  background-color: #000;
}
#home {
  background-color: #000;
  height: 100vh;
}
#home .title {
  color: white;
  font-size: 7rem;
  top: 35%;
  left: 35%;
  font-family: teko;
  font-weight: 400;
  text-shadow: 5px 5px #5f6d72;
  text-transform: uppercase;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  min-height: 100vh;
  background-color: #000;
  width: 100vw;
}

.register {
  width: 250px;
  height: 60px;
  background-color: #14db7b;
  text-align: center;
  border-radius: 25px;
}

.register {
  width: 250px;
  height: 60px;
  background-color: #14db7b;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #000;
  z-index: 2;
}
#home .hero-body {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.back {
  width: 250px;
  margin-left: 200px;
  height: 60px;
  background-color: #fff;
  border-radius: 25px;
  z-index: 2;
}
@media screen and (max-width: 850px) {
  #home .title {
    font-size: 5rem;
  }
}
.register {
  padding-top: 12px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.register {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transform: translate(-5px, -10px);
}

.register:hover {
  transform: translate(0px, 0px);
}

.grid-left {
  display: flex;
  margin-left: 70px;
  flex-direction: column;
  margin-top: 250px;
}

.grid-left h1 {
  font-size: 90px;
  font-weight: bold;
  color: #ffffff;
}

.chief-guest {
  display: grid;
  background-color: #14db7b;
  grid-template-columns: 1fr 1fr;
}

.sheader {
  position: relative;
  top: 100px;
  left: 40%;
  font-size: 40px;
}

.cguest {
  position: relative;
  top: -75px;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 10px 10px #000;
  border: 2px solid #000;
}

.infog {
  position: relative;
  top: 75px;
  width: 600px;
  height: 400px;
  background-color: #fff;
  box-shadow: 10px 10px #000;
  border: 2px solid #000;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-left {
    display: flex;
    margin-left: 70px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 250px;
  }

  .register {
    margin-left: 500px !important;
  }

  .grid-left h1 {
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
  }

  .static {
    max-width: 350px;
  }

  .sheader {
    top: 100px;
    left: 0%;
    font-size: 10px;
  }

  .cguest {
    position: relative;
    right: 70px;
    left: 0;
    max-width: 350px;
    align-items: center;
  }

  .infog {
    position: relative;
    top: -70px;
    max-width: 350px;
    align-items: center;
    right: 70px;
    left: 0;
  }

  .chief-guest {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .cguest {
    position: relative;
    right: 0;
    left: -30px;
    max-width: 300px;
    align-items: center;
  }

  .infog {
    position: relative;
    top: -70px;
    max-width: 300px;
    align-items: center;
    right: 0;
    left: 0;
  }
}
/*The navbar animation*/
.brackets a:before,
.brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s;
}

.brackets a:before {
  content: "(";
  left: 0px;
  transform: translateX(10px);
}

.brackets a:after {
  content: ")";
  right: 0px;
  transform: translateX(-10px);
}

.brackets a:hover:before,
.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
  background-color: transparent !important;
}

.navbar-item {
  padding: 1rem 1.25rem;
}

.column,
.is-one-fifth {
  padding-bottom: 3rem;
}

.glow:hover {
  text-shadow: 0 0 10px #ffe600;
}

.card:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.plan-footer {
  overflow-x: auto;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.q-style {
  color: #95afba;
  font-size: 3rem;
  border-left: 0.25rem solid #def2c8;
  padding-left: 1rem;
}
.a-style {
  color: #def2c8;
  font-size: 3rem;
  border-left: 0.25rem solid #95afba;
  padding-left: 1rem;
}
.td-style {
  background-color: #4f72e6;
  padding-bottom: 0rem;
  color: #a3cef1;
}

.tile.is-child {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

/* FOOTER */
.footer {
  width: 100%;
  background: #00121b;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #fff;
}

.footer-items h1 {
  color: #fff;
}

.border1 {
  height: 3px;
  width: 40px;
  background: #ff9800;
  color: #ff9800;
  background-color: #ff9800;
  border: 0px;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: #ff9800;
}

ul li {
  margin: 10px 0;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  padding: 4px;
  color: #fff;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  background: #00121b;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/* for tablet mode view */

.titled {
  font-family: "Merriweather", serif !important;
  font-size: 58px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
}

.subtitled {
  font-family: "Merriweather", serif !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}

#section03 {
  background: url("") center center / cover no-repeat;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 0%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
